* {
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
    font-family: "Comfortaa", sans-serif;
}
/* table */
table {
    margin: 20px;
    width: 100%;
    border-collapse:collapse ;
}
td {
    text-align: center;
}
th, td {
    border: 1px solid;
    padding: 5px;
}
.wrapper {
    overflow-x: auto;
}
caption {
    text-align: left;
    margin: 20px 0 20px 0;
}
/* button */
.button {
    text-align: center;
    margin: 20px 0 20px 0;
}
button {
    padding: 30px;
    border-radius:10px ;
}